@font-face {
  font-family:'SquadaOne';
  src:url(/resource/SquadaOne);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 70%;
}

.card-image {
  max-height: 70vh;
  padding: 12px;
  width: fit-content;
  align-self: center;
}

.card-description {
  font-family: 'SquadaOne';
  padding: 6px 12px;
  font-size: 18px;
}